extends ./layout.jade

block content
  .container
    .row
      #current-ads.col.s12.m6
        .section
          h2 your current ads
          each ad in ads
            .card.blue-grey.darken-1
              .card-content.white-text
                span.card-title= ad.name
                p= ad.text
                ul
                  li created at
                    = ad.created_at
                .card-action
                  form(action='/advertising/ads/' + ad._id + '?_method=delete', method='post')
                    input(type='submit', value='delete')
      #new-ad.col
        .section
          .card
            .card-content
              span.card-title create a new ad?
              form(action='/advertising/ads', method='post')
                label(for='ad_name') ad name
                input(type='text', name='ad_name')
                label(for='ad_text') ad text
                input(type='text', name='ad_text')
                label(for='ad_href') hyperlink
                input(type='text', name='ad_href')
                input.waves-effect.waves-light.btn(type='submit')
      
  
