extends ./layout.jade

block content
  #index-banner.parralax-container
    .container
      h1.header.center.teal-text.text-lighten-2 be the talk of the town
      .row.center
        h5.header.col.s12.light web developers aren't actually like migrant workers, but they might not know you're already in their zipcode.
      .row.center
        a#download-button.btn-large.waves-effect.waves-light.teal.lighten-1(href='http://materializecss.com/getting-started.html') Sign Up Now
      
